            <!-- edit form column -->
            <div class="tagsetting">

                <h5>Zenclerk計測タグの設置方法</h5>
                <p>
                    下記のタグをコピーして、 <strong>『登録したいサイトの全ページ』</strong>
                    のソース最下部にある
                    <br/>
                    <code>&lt;/body&gt;</code>
                    タグの直前に挿入してください。
                </p>
                <pre>&lt;script type="text/javascript" src="//f1.zenclerk.com/publish/hogehoge/a.js"&gt;&lt;/script&gt;</pre>

                <img src="/assets/img_assets/sample.gif" style="width:400px; height:200px;">
                <hr>

                <h5>コンバージョンタグの設定方法</h5>
                <p>
                    下記のタグを、 <strong>『決済完了ページ』</strong>
                    に設置した
                    <strong>『計測タグ直上』</strong>
                    に記述してください。
                    <br/>
                    <span class="text-error">赤く表示</span>
                    されている部分は、購入された商品に合わせて変更が必要です。
                </p>
                <pre>
&lt;script&gt;
var zenclerk_conversion_id = &quot;<span class="text-error">*****</span>&quot;;
var zenclerk_conversion_name = &quot;<span class="text-error">conversion_items</span>&quot;;
var zenclerk_conversion_price = <span class="text-error">400</span>;
var zenclerk_conversion_items = [
  { id: &quot;<span class="text-error">****</span>&quot;, price: <span class="text-error">200</span>, count: <span class="text-error">1</span> },
  { id: &quot;<span class="text-error">****</span>&quot;, price: <span class="text-error">100</span>, count: <span class="text-error">2</span> }
];
&lt;/script&gt;
</pre>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>selecter名</th>
                            <th>説明</th>
                            <th>入力方法</th>
                            <th>必須・推奨</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>zenclerk_conversion_id</td>
                            <td>
                                ECシステムのコンバージョンID <sup>（＊１）</sup>
                            </td>
                            <td>文字列</td>
                            <td>
                                <span class="text-error">必須</span>
                            </td>
                        </tr>
                        <tr>
                            <td>zenclerk_conversion_name</td>
                            <td>
                                コンバージョン名 <sup>（＊２）</sup>
                            </td>
                            <td>文字列</td>
                            <td>
                                <span class="text-error">必須</span>
                            </td>
                        </tr>
                        <tr>
                            <td>zenclerk_conversion_price</td>
                            <td>
                                コンバージョン金額総額
                                <sup>（＊３）</sup>
                            </td>
                            <td>数値</td>
                            <td>
                                <span class="text-error">必須</span>
                            </td>
                        </tr>
                        <tr>
                            <td>zenclerk_conversion_items / id</td>
                            <td>ECシステムの商品ID</td>
                            <td>文字列</td>
                            <td>任意</td>
                        </tr>
                        <tr>
                            <td>zenclerk_conversion_items / price</td>
                            <td>商品単価</td>
                            <td>数値</td>
                            <td>任意</td>
                        </tr>
                        <tr>
                            <td>zenclerk_conversion_items / count</td>
                            <td>個数</td>
                            <td>数値</td>
                            <td>任意</td>
                        </tr>
                    </tbody>
                </table>

                <small>
                    （＊１） 御社のECシステムが発行しているユニークなコンバージョンIDを記述してください。
                    <br/>
                    （＊２）複数のコンバージョンページの種類があり（会員購入・非会員購入等）、それぞれを別別の集計を希望される場合はそれぞれ別のコンバージョン名を記述してください。そうでない場合は任意のコンバージョン名（conversion_items等）を記述してください。
                    <br/>
                    （＊３） コンバージョン金額（円）をカンマなし通貨記号なしの数値のみで入力して下さい。
                </small>

            </div>