<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
            お問い合わせ対応窓口・直通メールフォーム
        </h4>
      </div>
      <div class="modal-body">
        <h5>ご不明な点がございましたら、どんなことでもご連絡頂けますと幸いです。<br/>担当営業からすぐご連絡させていただきます。</h5>
        <textarea  class="form-control" rows="5" name="" value="" placeholder="こちらにお問い合わせ内容をご記入下さい。">
        </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">送信</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->