<% content_for :title, "サイトリスト" %>

<% content_for :head do %>
<%= stylesheet_link_tag "scss/tables" %>
<% end %>

<div id="pad-wrapper" class="site_list">
	<div class="table-wrapper products-table section">
        <div class="row header">
            <div class="col-md-6">
                <h3>サイト一覧</h3>
            </div>
            <div class="col-md-6">
                <div class="pull-right datepick">
                        <span>集計期間選択</span>
                        <input class="form-control" type="text" placeholder="2013/10/12 19:00">
                </div>
            </div>
        </div>
		<div class="section">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="">サイト名</th>
						<th class="">
							<span class="line"></span>
							データ取得
						</th>
						<th class="">
							<span class="line"></span>
							訪問数
						</th>
						<th class="">
							<span class="line"></span>
							コンバージョン率
						</th>
						<th class="">
							<span class="line"></span>
							クーポン配信数
						</th>
						<th class="">
							<span class="line"></span>
							コンバージョンリフト率
						</th>
						<th>
							<span class="line"></span>

						</th>
					</tr>
				</thead>
				<tbody>
					<!-- row -->
					<tr class="first">
						<td>
							<a href="#" class="name" target="_blank">Strapya</a>
						</td>
						<td>
							<span class="label label-success">正常</span>
						</td>
						<td>200,000</td>
						<td>0.12%</td>
						<td>120,000</td>
						<td>+12.3%</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default">ダッシュボード</button>
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" class="name" target="_blank">Strapya</a>
						</td>
						<td>
							<span class="label label-success">正常</span>
						</td>
						<td>200,000</td>
						<td>0.12%</td>
						<td>120,000</td>
						<td>+12.3%</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default">ダッシュボード</button>
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" class="name" target="_blank">Strapya</a>
						</td>
						<td>
							<span class="label label-success">正常</span>
						</td>
						<td>200,000</td>
						<td>0.12%</td>
						<td colspan="2">
							<button type="" class="btn btn-primary btn-block">
								<span class="glyphicon glyphicon-ok-circle"></span>
								クーポン配信申込
							</button>
						</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default">ダッシュボード</button>
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" class="name" target="_blank">Strapya</a>
						</td>
						<td>
							<span class="label label-success">正常</span>
						</td>
						<td>200,000</td>
						<td>0.12%</td>
						<td colspan="2">
							<button type="" class="btn btn-primary btn-block">
								<span class="glyphicon glyphicon-ok-circle"></span>
								クーポン配信申込
							</button>
						</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default">ダッシュボード</button>
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</button>
							</div>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
			<div class="addnew">
				<%=link_to projects_new_path,:class=>"btn-flat gray" do%>
						<span class="glyphicon glyphicon-plus-sign"></span>
						サイトを新規登録
				<%end%>
			</div>
	</div>

</div>