<% content_for :title, "サイトリスト" %>

<% content_for :head do %>
<%= stylesheet_link_tag "scss/tables" %>
<% end %>

<div id="pad-wrapper" class="site_list">
	<div class="table-wrapper products-table section">
		<div class="row header">
			<div class="col-md-9">
				<h3>サイト一覧</h3>
			</div>
			<div class="col-md-3 addnew">
				<div class="pull-right">
					<button class="btn-flat gray">
						<span class="glyphicon glyphicon-plus-sign"></span>
						サイトを新規登録
					</button>
				</div>
			</div>
		</div>
		<div class="row filter-block">
			<div class="col-md-12">
				<div class="btn-group pull-left">
					<button class="glow left large">タグ正常</button>
					<button class="glow middle large">タグ未設置</button>
					<button class="glow middle large">クーポン可</button>
					<button class="glow right large">クーポン不可</button>
				</div>
				<input type="text" placeholder="絞込" class="search order-search pull-right"></div>
		</div>
		<div class="section">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="">サイト名</th>
						<th class="">
							<span class="line"></span>
							データ取得
						</th>
						<th class="">
							<span class="line"></span>
							訪問数
						</th>
						<th class="">
							<span class="line"></span>
							コンバージョン率
						</th>
						<th class="">
							<span class="line"></span>
							クーポン配信数
						</th>
						<th class="">
							<span class="line"></span>
							コンバージョンリフト率
						</th>
						<th>
							<span class="line"></span>

						</th>
					</tr>
				</thead>
				<tbody>
					<!-- row -->
					<tr class="first">
						<td>
							<a href="#" class="name" target="_blank">Strapya</a>
						</td>
						<td>
							<span class="label label-success">正常</span>
						</td>
						<td>200,000</td>
						<td>0.12%</td>
						<td>120,000</td>
						<td>+12.3%</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default">ダッシュボード</button>
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" class="name" target="_blank">Strapya</a>
						</td>
						<td>
							<span class="label label-success">正常</span>
						</td>
						<td>200,000</td>
						<td>0.12%</td>
						<td>120,000</td>
						<td>+12.3%</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default">ダッシュボード</button>
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" class="name" target="_blank">Strapya</a>
						</td>
						<td>
							<span class="label label-success">正常</span>
						</td>
						<td>200,000</td>
						<td>0.12%</td>
						<td colspan="2">
							<button type="" class="btn btn-primary btn-block">
								<span class="glyphicon glyphicon-ok-circle"></span>
								クーポン申込
							</button>
						</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default">ダッシュボード</button>
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" class="name" target="_blank">Strapya</a>
						</td>
						<td>
							<span class="label label-success">正常</span>
						</td>
						<td>200,000</td>
						<td>0.12%</td>
						<td colspan="2">
							<button type="" class="btn btn-primary btn-block">
								<span class="glyphicon glyphicon-ok-circle"></span>
								クーポン申込
							</button>
						</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default">ダッシュボード</button>
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</button>
							</div>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
		<span class="warn pull-right"><span class="glyphicon glyphicon-warning-sign"></span>上記のデータは当月分の集計値です。</span>
	</div>

</div>