<% content_for :title, "ユーザー登録" %>

<% content_for :head do %>
<%= stylesheet_link_tag "scss/signup" %>
<% end %>

<div class="login-wrapper">
    <div class="box tagspecial">
        <div class="content-wrap">
                            <h6>
                    「計測タグ」と「コンバージョンタグ」を発行しました
                    <br/>
                    下記の案内に従ってサイト内にタグをご設置下さい
                </h6>
                <div style="text-align:left">
                    <%=render :partial =>'/share/tag'%>
                </div>

                    <div class="action">
                        <a class="btn-glow primary signup" href="signin.html">サイト一覧へ移動</a>
                    </div>
            </form>
        </div>
    </div>
      <div class="span4 already">
            <p>トラッキングを除外するページ/IPアドレスの設定は<br/>サイト登録後、サイト情報変更画面から設定可能です</p>
       </div>

</div>