<% content_for :title, "ダッシュボード" %>

<% content_for :head do %>
<%= stylesheet_link_tag "scss/index" %>
<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" %>
<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" %>
<% end %>

<!-- upper main stats -->
<div id="main-stats">
	<div class="row stats-row">
		<div class="col-md-6 col-sm-6 stat">
			<div class="data">
				<span class="number">12,000</span>
				配信
			</div>
			<span class="date">当月のクーポン配信数</span>
		</div>
		<div class="col-md-6 col-sm-6 stat last">
			<div class="data">
				<span class="number">+12.3</span>
				%
			</div>
			<span class="date">当月のコンバージョンリフト率</span>
		</div>
	</div>
</div>
<!-- end upper main stats -->

<div id="pad-wrapper" class="analytics">
	<div class="row" style="margin-bottom:20px;">
		<div class="col-md-6">
			<h4>strapya / サイト情報サマリー</h4>
		</div>
		<div class="col-md-6">
			<div class="pull-right datepick">
					<span>集計期間選択</span>
					<input class="form-control" type="text" placeholder="2013/10/12 19:00"> <i class="icon-question-sign"></i>
			</div>
		</div>
	</div>

	<div class="row section table-responsive stats">
		<div class="col-md-2">
			<div class="panel panel-default">
			  <div class="panel-body">
			    20,000
			  </div>
			  <div class="panel-footer">訪問数</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
			  <div class="panel-body">
			    1.25%
			  </div>
			  <div class="panel-footer">平均CV率</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
			  <div class="panel-body">
			    20,000
			  </div>
			  <div class="panel-footer">平均CV金額</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
			  <div class="panel-body">
			    10:00:00
			  </div>
			  <div class="panel-footer">平均滞在時間</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
			  <div class="panel-body">
			    12.5
			  </div>
			  <div class="panel-footer">訪問別PV</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
			  <div class="panel-body">
			    3
			  </div>
			  <div class="panel-footer">訪問別興味商品数</div>
			</div>
		</div>
	</div>
	<div class="section maingraph"></div>

	<div class="section userstats">
		<h4>strapya / ユーザー情報</h4>
		<div class="row">
			<div class="col-md-4"><div id="graphbox1"></div></div>
			<div class="col-md-4"><div id="graphbox2"></div></div>
			<div class="col-md-4"><div id="graphbox3"></div></div>
		</div>
	</div>

	<div class="section items">
		<h4>strapya / 商品ランキング</h4>
		<div class="row">
			<div class="col-md-4">
				<table class="table table-bordered table-hover">
					<caption>閲覧数</caption>
					<tbody>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				<table class="table table-bordered table-hover">
					<caption>コンバージョン数</caption>
					<tbody>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				<table class="table table-bordered table-hover">
					<caption>興味数</caption>
					<tbody>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
						<tr>
							<th>2000</th>
							<td>datadatadatadata</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<% content_for :foot do %>
	<script src="/assets/highcharts.js"></script>
	<script src="/assets/skies.js"></script>
	<script type="text/javascript">
		var chart;
		function draw(box) {
			options = {
				chart: {
					renderTo: box,
					plotBackgroundColor: null,
					plotBorderWidth: 0,
					plotShadow: false
				},
				title: {
					text: 'Browser<br>shares',
					align: 'center',
					verticalAlign: 'middle'
				},
				tooltip: {
					pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
				},
				plotOptions: {
					pie: {
						dataLabels: {
							enabled: true,
							distance: -50,
							style: {
								fontWeight: 'bold',
								color: 'white',
								textShadow: '0px 1px 2px black'
							}
						},
						startAngle: -90,
						endAngle: 90,
						center: ['50%', '75%']
					}
				},
				series: [{
					type: 'pie',
					name: 'Browser share',
					innerSize: '50%',
					data: [
						['Firefox', 45.0],
						['IE', 26.8],
						['Chrome', 12.8]
					]
				}]
			}
			chart = new Highcharts.Chart(options);
		}

		// ページがロードされた後に、グラフを出力する
		document.body.onload = draw("graphbox1");
		document.body.onload = draw("graphbox2");
		document.body.onload = draw("graphbox3");
	</script>

	<% end %>