<% content_for :title, "ユーザー情報変更" %>

<% content_for :head do %>
<%= stylesheet_link_tag "scss/new-user" %>
<% end %>
<div id="pad-wrapper" class="new-user">

	<div class="row header">
		<div class="col-md-12">
			<h3>サイト情報変更</h3>
		</div>
	</div>

	<div class="row form-wrapper">
		<!-- left column -->
		<div class="col-md-11 with-sidebar">
			<div class="container">
				<div class="section user_edit">
					<form class="form-holizontal">
						<div class="form-group">
							<label class="control-label" >サイト名</label>
							<div class="col-md-8">
								<input class="form-control" type="text"></div>
						</div>
						<div class="form-group">
							<label class="control-label" >サイトURL</label>
							<div class="col-md-8">
								<input class="form-control" type="text"></div>
						</div>
						<div class="actions">
							<input type="button" class="btn btn-primary" value="設定変更">
						</div>
					</form>
				</div>

				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :foot do %>
<script type="text/javascript">
		var acappear = function(box){
				$(box).click(function(){
					$(this).parent().children(".acordion").slideDown("fast");
					$(this).unbind('click');
					$(this).addClass('selected');
					acremove($(this));
				});
		}
		var acremove = function(box){
				$(box).click(function(){
					$(this).parent().children(".acordion").slideUp("fast");
					$(this).unbind('click');
					$(this).removeClass('selected');
					acappear($(this));
				});
		}
		acappear(".acordion_title");

$(".acordion_title").hover(function(){
	$(this).addClass('active');
},function(){
	$(this).removeClass('active');
});
		 $('.selectpicker').selectpicker();
	</script>

<% end %>