@import "font-awesome";

.form-holizontal .form-group{
	min-height: 50px;
	text-align: left;
	label{
		line-height: 35px;
		text-align: left;
		font-size: 14px;
	}
	span{
		display: block;
		float: left;
		margin-bottom: 15px;
		color:#999999;
	}
}

.login-wrapper .form-holizontal .form-group label{
		text-align: right;
}

.passchange{
  font-weight: 500;
}

.setting {
	text-align: center;
margin-bottom: 30px;
.panel-title{
	font-size: 13px;
	font-weight: bold;
}
.panel-body{
}
}

.tooltip-inner{
	padding: 10px;
	max-width: 350px;
}

.ttp{
	display: inline-block !important;
	cursor: help;
	margin-left: 5px;
	color:#33455A !important;
	text-decoration: none !important;
	.icon-question-sign{
		font-size: 15px;
	}
}
.section{
	margin-bottom: 40px;
	h5{
		margin-bottom: 10px;
	}
}


/* original */

#step1{
	.form-group{
		label{
			margin-bottom: 20px;
		}
		span{
			font-size: 15px;
			padding-left: 10px;
			color:#999999;
		}
		.form-control{
			margin-bottom: 10px;
			height: 45px;
			font-size: 20px;
		}
	}

	.templatecontainer{
		font-size: 15px;
		float: left;
		height: 200px;
		margin-right: 30px;
		cursor: pointer;
		img{
		  width:300px;
		  height: 180px;
		  margin: 0px;
		  border: solid 1px #DDDDDD;
		  padding: 13px;
		  border-radius: 3px;
		}
		span{
			margin-right: 5px;
		}
		dt{
	  margin-bottom: 15px;
		}
		dd{

		}
	}

	.selected{
		span{
		}
		img{
			border:solid 1px #BCE8F1;
			background: #D9EDF7;
		}
		dt{
			color:#3A87AD;
		}
	}

}

#step2{
	.form-group{
		label{
			margin-bottom: 5px;
		}
		span{
		  display: block;
		  color: rgb(153, 153, 153);
			padding-left: 10px;
		}
		.form-control{
			margin-bottom: 5px;
			height: 35px;
			font-size: 15px;
		}
	}

}

.creativebox{
	padding: 0px;
	margin:0px;

	.creativeselector{
		padding: 15px;
		border-bottom: solid 1px #dddddd;
	}
	.creativeset{
		padding-top:15px;
	}
}


.creativeimage{
	padding: 0px;
}

.creativecontets{
	padding: 0px;
}


.creativeselector{
}
.creativeset{
  padding: 0px 15px;
}



.creativeselector .pagination li a{
    line-height: 30px;
}

.creativeselector .pagination ul > li:last-child > a,.creativeselector .pagination ul > li:first-child > a{
    font-size: 12px;
    padding: 2px 20px;
}

.form-wrapper .field-box label{
  width: 100%;
}

.step-content label{

}

.navbar-fixed-top{
	background-color: #333333;
}

.campaignnew{
	margin:0px;
	padding: 0px;
	height: 100%;
}

.wizard-actions{
	z-index: 999;
	padding: 10px;
	position: fixed;
	background: #FFFFFF;
	top:48px;
	width: 100%;
	height: 55px;
	border-bottom:1px solid #DDDDDD;
}

.wizard{
  left: 50%;
  margin-left: -175px;
  position: absolute;
  width: 350px;
}

.wizard-steps{
	text-align: center;
}

#step1{
margin:20px 20px;
}
#step2{
}
#step3{
	margin:20px 20px;
	.form-group{
		label{
			margin-bottom: 20px;
			display: block;
		}
		span{
			font-size: 15px;
			padding-left: 10px;
			color:#999999;
		}
		.form-control{
			margin-bottom: 10px;
			height: 45px;
			font-size: 20px;
		}
	}
	.schedule{
		label{
			margin-bottom: 5px;
			font-size: 15px;
		}
		.form-group{
			display: inline-block;
			margin-right: 30px;
		}
		.date{
			width: 220px;
			display: inline-block;
			margin-right: 15px;
		}
		.time{
			width: 60px;
			display: inline-block;
			.form-control{
				background: #ddd;
			}
			select{
		    background-image: none;
		    padding: 10px 8px 8px;
		    font-size: 13px;
		    height: 36px;
				-moz-appearance: button;
				-webkit-appearance: button;
				appearance: button;
		    position: relative;
		    border: none;
		    font-weight: 700;
		    letter-spacing: .01em;
		    color: #737373;
		    background-color: #e0e0e0;
		    border-collapse: separate;
		    background-repeat: no-repeat;
		    background-position: right center;
		    cursor: pointer;
		    border-radius: 3px;
		    width: 100%;
		    max-width: 550px
			}
		}
	}
}
#step4{
	margin:20px 20px;
}




.step-content{

	.section{
		margin-bottom: 40px;
	}
	h3{
		margin-bottom: 30px;
		color:#999999;
	}
	h4{
		margin-bottom: 15px;
	}
}

.navbar-text{
	color: #FFF !important;

	letter-spacing: 0.01em;
	font-size: 13px;
}

.datepick{
	span{
		font-size: 15px;
		margin-right: 5px;
	}
	.form-control{
		display: inline-block;
		width: 180px;
	}
}

.analytics{
	h4{
		margin-bottom: 20px;
	}
	.loadingimg{
		width:50px;
		position: relative;
		left:50%;
		margin-left:-25px;
		top:100px;
	}
	.stats{
		.panel-body{
			text-align: center;
			font-size: 17px;
			font-weight: bold;
			color:#32A0EE;
		}
		.panel-footer{
			text-align: center;
			font-size: 12px;
			padding-bottom: 5px;
			color: #6E829B;
		}
	}

	.maingraph{
		height: 350px;
	}
	#graphbox1{
		height: 200px;
	}
	#graphbox2{
		height: 200px;
	}
	#graphbox3{
		height: 200px;
	}
	.items{
		caption{
			text-align: left;
			margin-bottom: 10px;
			font-size: 14px;
			font-weight: bold;
		}
		th{
			color:#32A0EE;
			font-weight: normal;
			width: 60px;
			text-align: center;
		}
		td{
			overflow: hidden;
		}
	}
}

.user_edit{
	.action{
		float: none;
	}
}

.user_edit_more{
	h4{
		margin-bottom: 20px;
	}
	.acordion_title{
    font-size: 13px;
    font-weight: 600;
		border-top: solid 1px #DDD;
		padding: 15px 7px 15px 15px;
		color: #33455A;
		cursor: pointer;
		.label{
			font-size: 11px;
			margin-right: 5px;
		}
		.glyphicon{
			padding-top: 4px;
		}
	}
	.active{
		background: #D9EDF7;
	}
	.selected{
		background: #D9EDF7;
		color:#3A87AD;
	}
	.acordion{
		border-top: solid 1px #DDD;
		padding-top: 25px;
		display: none;
		button{

		}
	}

	.aclast{
		border-bottom: solid 1px #DDD;
	}
}

.tagsetting{
	h4{
		margin-bottom:30px;
		span{
			margin-right: 10px;
		}
		p{
			margin-bottom: 20px;
		}
	}
}

.navbar-inverse{
	background: url("/assets/bgs/pw_maze_black.png") repeat;
}

.addnew{
	btn-flat{
	text-align: center;
	}
	span{
		margin-right:10px;
	}
	.btn-flat{
		font-weight: 700;
		font-size: 14px;
		margin-top: 5px;
		width: 200px;
		height:35px;
	}
}

.data {
	color: #29323a;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	.number {
		color: #32a0ee;
		font-size: 25px;
		margin:0px 15px;
	}
}

.site_list{
	table{
		th{
		}
		td{
			text-align: center;
			overflow: hidden;
		}
		a{
			text-decoration: none;
		}
	}
}

.warn{
	color: #999999;
	font-size: 14px;
	.glyphicon{
		padding-right: 5px;
	}
}

.tagspecial{
	width: 800px !important;
	.action{
		margin:0px -72px !important;
	}
}

.campaigns_list,.campaign_show{
	.glyphicon-warning-sign{
		color:#F1C359;
		margin-left: 5px;
	}
	.glyphicon-ok-sign{
		color: #81AD53;
		margin-left: 5px;
	}
}

.resulttable{
	table{
		table-layout: fixed;
	}
	th{
		text-align: center;
	}
	td{
		text-align: center;
		font-weight: bold;
		font-size: 15px;
	}
	span{
		font-size: 13px;
		display: block;
		color:#999999;
		font-weight: normal;
	}
}

.campaign_show{
	min-width: 800px;
	.head{
		margin-bottom: 40px;
		.head1{
			height: 35px;
			line-height: 35px;
			margin-bottom: 10px;
		}
		.head2{
			height: 25px;
		}
		.label{
			margin-right: 10px;
		}
		h3{
		}
	}
	.section{
		h4{
			margin-bottom: 20px;
		}
		caption{
			text-align: left;
		}
	}
}

.signup_success {
	padding-top: 40px;
	margin-bottom: 100px;
	.congraturation{
		font-size: 120px;
		color:#81AD53;
	}
	.center{
		margin: 0 auto;
		text-align: center;
		width:42%;
		h6{
			color: #364453;
			font-weight: bold;
			margin: 30px 0 9px;
			font-size: 16px;
		}
		p{
			color: #364453;
			font-size: 15px;
		}
		a {
			margin-top: 30px;
		}
	}
}

.modal-title{
	text-align: center;
}
.modal-body{
	h5{
		margin-bottom: 20px;
		text-align: center;
	}

}
.settings{
	cursor: pointer;
}