<% content_for :title, "ログイン" %>

<% content_for :head do %>
<%= stylesheet_link_tag "scss/signin" %>
<% end %>


<div class="login-wrapper">
    <a href="index.html">
        <img class="logo" src="/assets/logo-white.png">
    </a>

    <div class="box">
        <div class="content-wrap">

            <form action="login_submit" method="get" accept-charset="utf-8" class="form-holizontal">

            <div class="form-group">
                <label class="col-sm-4 control-label" for="">メールアドレス</label>
                <div class="col-sm-8">
                   <input class="form-control" type="text" placeholder="mail@example.com">
               </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="">パスワード</label>
                <div class="col-sm-8">
                    <input class="form-control" type="password" placeholder="●●●●●●●●">
                </div>
            </div>

                <div class="col-sm-12" style="margin-bottom:20px;">
            <%= link_to "パスワードをお忘れの方はこちら", users_reminder_path ,:class => "forgot"%>
                </div>

            <div class="remember col-sm-offset-4 col-sm-8">
                <input id="remember-me" type="checkbox">
                <label for="remember-me">ログイン状態を保存</label>
            </div>
            <%= link_to "ログイン", site_list_path ,:class => "btn btn-primary login"%>
            </form>
        </div>
    </div>

    <div class="no-account">
        <p>ユーザー登録はお済みですか？</p>
        <%= link_to "ユーザー登録", users_signup_path%>
    </div>
</div>