<div id="pad-wrapper">
    <div class="table-wrapper products-table section">
        <div class="row head">
            <div class="col-md-12">
                <h3>クーポン一覧</h3>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover couponlist">
                <thead>
                    <tr>
                        <th class="">ステータス</th>
                        <th class="">
                            <span class="line"></span>
                            開始日
                        </th>
                        <th class="">
                            <span class="line"></span>
                            終了日
                        </th>
                        <th class="">
                            <span class="line"></span>
                            タイトル
                        </th>
                        <th class="">
                            <span class="line"></span>
                            カテゴリー
                        </th>
                        <th>
                            <span class="line"></span>
                            配信数
                        </th>
                        <th>
                            <span class="line"></span>
                            CV率
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row -->
                    <tr class="first">
                        <td>
                            <span class="label label-success">配信中</span>
                        </td>
                        <td>2013/10/12 10:00</td>
                        <td>2013/10/12 12:00</td>
                        <td>ああああああああああああああああああああああああああああ</td>
                        <td>カウントダウンクーポン</td>
                        <td>1000</td>
                        <td>
                            +12.4% <i class="icon-warning-sign"></i>
                        </td>
                        <td>
                             <%= link_to "クーポン詳細", campaigns_show_path ,:class => "btn-flat primary"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-success">配信中</span>
                        </td>
                        <td>2013/10/12 10:00</td>
                        <td>2013/10/12 12:00</td>
                        <td>ああああああああああああああああああああああああああああ</td>
                        <td>カウントダウンクーポン</td>
                        <td>1000</td>
                        <td>
                            +12.4% <i class="icon-warning-sign"></i>
                        </td>
                        <td>
                                                         <%= link_to "クーポン詳細", campaigns_show_path ,:class => "btn-flat primary"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-success">配信中</span>
                        </td>
                        <td>2013/10/12 10:00</td>
                        <td>2013/10/12 12:00</td>
                        <td>ああああああああああああああああああああああああああああ</td>
                        <td>カウントダウンクーポン</td>
                        <td>1000</td>
                        <td>
                            +12.4%
                            <i class="icon-ok-sign"></i>
                        </td>
                        <td>
                                                         <%= link_to "クーポン詳細", campaigns_show_path ,:class => "btn-flat primary"%>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>