<div id="pad-wrapper" class="campaign_show" style="min-width:800px;">

<!-- products table-->
<!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
<div class="table-wrapper products-table section">
    <div class="row head">
        <div class="col-md-7">
            <div class="head1">
                <span class="label label-success">配信中</span>
                <span>クーポン／シンプル</span>
            </div>
            <div class="head2">
                <h3>●●クーポンほげほげほげ</h3>
            </div>


        </div>
        <div class="col-md-5">
            <div class="stat pull-right">
                <div class="head1">
                    <div class="btn-group large">
                            <button class="btn btn-sm btn-default left">
                                設定編集
                            </button>
                            <button class="btn btn-sm btn-default middle">
                                コピーして新規作成
                            </button>
                            <button class="btn btn-sm btn-default right"><i class="glyphicon glyphicon-print"></i></button>
                        </div>
                    </div>
                    <div class="head2">
                        <div class="data">
                            CVリフト率
                            <span class="number">+12.5</span>
                            %
                            <span class="ttp" data-toggle="tooltip" data-trigger="click" data-placement="bottom" title="キャンペーン【表示グループ】と【非表示グループ】のコンバージョン率の変化率">
                <i class="icon-question-sign"></i></span>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="section">
        <h4 style="margin-bottom:10px;">配信設定</h4>
        <div class="setting">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-info ">
                      <div class="panel-heading">
                        <h3 class="panel-title">配信条件</h3>
                      </div>
                      <div class="panel-body">
                        興味商品数２以上
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">配信開始日時</h3>
                      </div>
                      <div class="panel-body">
                        2013/12/11 12:00
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">配信終了日時</h3>
                      </div>
                      <div class="panel-body">
                        2013/12/11 12:00
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-6">
                <h4>クーポン配信結果</h4>
            </div>
            <div class="col-md-6">
                <div class="pull-right datepick">
                        <span>集計期間選択</span>
                        <input class="form-control" type="text" placeholder="2013/10/12 19:00">
                </div>
            </div>
        </div>

        <div class="graph" style="height:300px; background-color:#EEEEEE; margin-bottom:10px;"></div>

        <div class="resulttable" style="margin-bottom:10px">

            <div class="alert alert-warning">
                <i class="icon-warning-sign"></i>
                クーポン作成
                            配信数が足りていないため、下記の結果はほにゃららららららららららあらｒ
            </div>

            <table class="table table-hover table-bordered">
                <caption>
                    <h5>表示・非表示グループ配信結果<span class="ttp" data-toggle="tooltip" data-trigger="click" data-placement="bottom" title="クーポンの結果を正しく把握するために、一定の割合でクーポンを配信しないユーザーを設定。クーポンを配信するユーザーを【表示グループ】。しないユーザーを【非表示グループ】とします。">
                <i class="icon-question-sign"></i></span></h5>
                </caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            配信数
                        </th>
                        <th>平均滞在時間</th>
                        <th>
                            平均PV
                        </th>
                        <th>
                            コンバージョン率
                        </th>
                        <th>コンバージョン金額</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            表示グループ
                        </th>
                        <td>
                            1000
                            <span>(+12.5%)</span>
                        </td>
                        <td>
                            12:00:00
                            <span>(+12.5%)</span>
                        </td>
                        <td>
                            12.2
                            <span>(+12.5%)</span>
                        </td>
                        <td>
                            2.5%
                            <span>(+12.5%)<i class="glyphicon glyphicon-ok-sign"></i></span>
                        </td>
                        <td>
                            2500
                            <span>(+12.5%)</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            非表示グループ
                        </th>
                        <td>1000</td>
                        <td>12:00:00</td>
                        <td>12.2</td>
                        <td>2.5%</td>
                        <td>2500</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="section">
        <h4>表示グループのクリエイティブ別サマリー</h4>
        <div class="resulttable response">
            <table class="table table-hover table-bordered">
                <caption>
                    <h5>配信結果<span class="ttp" data-toggle="tooltip" data-trigger="click" data-placement="bottom" title="設定したクリエイティブ別の配信結果です。クリエイティブはページ下部で確認可能です。">
                <i class="icon-question-sign"></i></span></h5>
                </caption>
                <thead>
                    <tr>
                        <th>
                            設定ID

                        </th>
                        <th>
                            配信数
                        </th>
                        <th>平均滞在時間</th>
                        <th>
                            平均PV
                        </th>
                        <th>
                            コンバージョン率
                        </th>
                        <th>コンバージョン金額</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>0012_1</th>
                        <td>1000</td>
                        <td>12:00:00</td>
                        <td>12.2</td>
                        <td>2.5%</td>
                        <td>2500</td>
                    </tr>
                    <tr>
                        <th>0012_1</th>
                        <td>1000</td>
                        <td>12:00:00</td>
                        <td>12.2</td>
                        <td>2.5%</td>
                        <td>2500</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="resulttable response">
            <table class="table table-hover table-bordered">
                <caption>
                    <h5>ユーザーの反応率<span class="ttp" data-toggle="tooltip" data-trigger="click" data-placement="bottom" title="クーポンが配信されたユーザーが、どのように反応したかを表す指標です。">
                <i class="icon-question-sign"></i></span></h5>
                </caption>
                <thead>
                    <tr>
                        <th>
                            設定ID
                        </th>
                        <th>
                            領域へのホバー
                        </th>
                        <th>
                            使い方ボタンクリック
                        </th>
                        <th>
                            閉じるボタンクリック
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>0012_1</th>
                        <td>
                            100
                            <span>(12.5%)</span>
                        </td>
                        <td>
                            140
                            <span>(12.5%)</span>
                        </td>
                        <td>
                            222
                            <span>(12.5%)</span>
                        </td>
                    </tr>
                    <tr>
                        <th>0012_2</th>
                        <td>
                            100
                            <span>(12.5%)</span>
                        </td>
                        <td>
                            140
                            <span>(12.5%)</span>
                        </td>
                        <td>
                            222
                            <span>(12.5%)</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <h4>クリエイティブ設定確認</h4>
        <div class="setting resulttable">
            <table class="table table-hover table-bordered" style="background-color:#FFFFFF; margin-bottom:0px;">
                <thead>
                    <tr>
                        <th>
                            設定ID
                        </th>
                        <th>タイトル</th>
                        <th>テキスト</th>
                        <th>ロゴ</th>
                        <th>パターン</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>0012_1</th>
                        <td>タイトル</td>
                        <td>テキスト</td>
                        <td>ロゴ</td>
                        <td>パターン</td>
                    </tr>
                    <tr>
                        <th>0012_2</th>
                        <td>タイトル</td>
                        <td>テキスト</td>
                        <td>ロゴ</td>
                        <td>パターン</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin-bottom:30px">
            <div class="graph" style="height:300px; background-color:#EEEEEE; margin-bottom:10px;"></div>

        </div>
    </div>

        <div class="control">
            <button class="btn-flat danger">キャンペーンを停止</button>
        </div>

    </div>

</div>
<!-- end products table -->