#fuelux-wizard {
}
.wizard-steps {
	list-style: none;
	display: block;
	width: 400px;
	padding: 0;
	position: relative;
	li {
		display: block;
		text-align: center;
		float: left;
		.step {
			text-align: center;
			border: 2px solid #e5e8ed;
			color: #d8dce6;
			font-size: 19px;
			border-radius: 32px;
			line-height: 12px;
			padding: 7px 15px;
			background-color: #FFF;
			position: relative;
			z-index: 2;
			display: inline;
		}

		&.complete .title,
		&.active .title {
			color: #2b3d53;
		}

		.title {
			display: block;
			font-size: 13px;
			z-index: 104;
			text-align: center;
			position: relative;

		}
	}
}


/* step content */
.step-content {
	.step-pane {
		display: none;
		min-height: 267px;
	}
	.active {
		display: block;
	}
}


/* step forms */
.form-wrapper {
	.field-box {
		margin-bottom: 25px;
		margin-left: 0;
		float: left;
		width: 100%;

		&:last-child {
			margin-bottom: 0px;
		}
	}
	label {
		display: inline-block;
		float: left;
		font-weight: 600;
		cursor: auto;
		font-size: 12px;
		width: 120px;
		text-align: left;
		position: relative;
		top: 2px;
	}
	input[type="text"] {
		width: 400px;
	}
	&.payment-info label {
		width: 150px;
	}
	.alert-msg {
		display: block;
		margin-left: 120px;
		margin-bottom: -4px;
		margin-top: 10px;
		i {
			font-size: 14px;
		}
	}
}


/*** Form states ***/
.form-wrapper .field-box {
	/* error */
	&.error {
		label,
		.alert-msg {
			color: rgb(199, 57, 57);
		}
		input {
			border-color: rgb(199, 57, 57);
		}
	}
	/* success */
	&.success {
		label,
		.alert-msg {
			color: rgb(55, 158, 72);
		}
		input {
			border-color: rgb(55, 158, 72);
		}
	}
}


/* actions */
.wizard-actions {
	float: right;
	.btn-next {
		margin-left: 15px;
	}
	.btn-finish {
		display: none;
		margin-left: 15px;
	}
}



/* responsive */
@media (max-width: 979px) {
	.step-content {
		margin-left: 0px;
	}
}
@media (max-width: 600px) {
	.wizard-steps {
		left: 0px;
	}
	.form-wrapper input[type="text"] {
		width: 200px;
	}
}